<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>MyPage</title>
     <link rel="stylesheet" href="/View/CSS/CommonStyle/style.css">
     <link rel="stylesheet" href="/View/CSS/ViewStyle/myPage.css">
</head>
<body>
     <div id="container">
          <div id="container-menubar">
               <div class="top-menubar">
                    <div class="top-logo-img">

                    </div>
                    <div class="top-logo">

                    </div>
                    <div class="top-login-button">
                         <button type="button" class="login-button">로그인</button>
                    </div>
               </div>
          </div>
          <div id="container-box">
               <div class="left-box">
                    <div class="left-menubar">
                         <div class="left-menus">
                              <li class="menus-li-style">
                                   <h2>Menu</h2>
                                   <h3>Style 추천</h3>
                                   <h3>Q & A</h3>
                                   <h3>회원가입 방식</h3>
                                   <h3>게시물 이용 방법</h3>
                              </li>
                         </div>
                    </div>
               </div>
               <div class="right-box">
                    <div class="contant">
                         
                    </div>
               </div>
          </div>
     </div>
</body>
</html>