<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Main</title>
     <link rel="stylesheet" href="/View/CSS/CommonStyle/style.css">
     <link rel="stylesheet" href="/View/CSS/ViewStyle/main.css">
</head>
<body>
     <div id="container">
          <div id="container-menubar">
               <div class="top-menubar">
                    <div class="top-logo-img">

                    </div>
                    <div class="top-logo">

                    </div>
                    <div class="top-login-button">
                         <button type="button" class="login-button">로그인</button>
                    </div>
               </div>
          </div>
          <div id="container-box">
               <div class="left-box">
                    <div class="left-menubar">
                         <div class="left-menus">
                              <li class="menus-li-style">
                                   <h2>Menu</h2>
                                   <h3>Style 추천</h3>
                                   <h3>Q & A</h3>
                                   <h3>회원가입 방식</h3>
                                   <h3>게시물 이용 방법</h3>
                              </li>
                         </div>
                    </div>
               </div>
               <div class="right-box">
                    <div class="contant">
                         <div class="popular-text"><p>인기 게시물</p></div>
                         <div class="popular-contants">
                              <div class="contants-size">
                                   <img src="./ato.jpg" alt="#">
                                   <p>좋아요</p>
                              </div>
                              <div class="contants-size">
                                   <img src="./ato.jpg" alt="#">
                                   <p>좋아요</p>
                              </div>
                              <div class="contants-size">
                                   <img src="./ato.jpg" alt="#">
                                   <p>좋아요</p>
                              </div>
                         </div>
                         <div class="search-bar">
                              <div class="search-bar-contants">
                                   <div class="user-weight-div">
                                        <select name="user-weight">
                                             <option value="">성별</option>
                                             <option value="male">남</option>
                                             <option value="female">여</option>
                                         </select>              
                                   </div>
                                   <div class="user-weight-div">
                                        <select name="user-weight">
                                             <option value="">체중</option>
                                             <option value="weight-1">체중_1</option>
                                             <option value="weight-2">체중_2</option>
                                             <option value="weight-3">체중_3</option>
                                             <option value="weight-4">체중_4</option>
                                         </select>              
                                   </div>
                                   <div class="user-height-div">
                                        <select name="user-height">
                                             <option value="">신장</option>
                                             <option value="height-1">신장_1</option>
                                             <option value="height-2">신장_2</option>
                                             <option value="height-3">신장_3</option>
                                             <option value="height-4">신장_4</option>
                                         </select>              
                                   </div>
                                   <div class="user-height-div">
                                        <input type="text">
                                   </div>
                                   <div class="search-button-div">
                                        <button>검색</button>
                                   </div>
                              </div>
                         </div>
                         <div class="recent-contants">
                              <div class="recent-text"><p>최근게시물</p></div>
                              <div class="recent-contants-div">
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                              </div>
                              <div class="recent-contants-div">
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                                   <div class="recent-image"><img src="./ato.jpg" alt="#"></div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>
</html>